apiVersion: apps/v1
kind: Deployment
metadata:
  name: authentik-worker
  namespace: staging-infra
  labels:
    app: authentik-worker
    component: idp-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authentik-worker
  template:
    metadata:
      labels:
        app: authentik-worker
        component: idp-worker
    spec:
      containers:
        - name: authentik
          image: ghcr.io/goauthentik/server:latest
          command: ["worker"]
          env:
            - name: AUTHENTIK_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: authentik-secrets
                  key: AUTHENTIK_SECRET_KEY
            - name: AUTHENTIK_ERROR_REPORTING__ENABLED
              valueFrom:
                secretKeyRef:
                  name: authentik-secrets
                  key: AUTHENTIK_ERROR_REPORTING__ENABLED
            - name: AUTHENTIK_POSTGRESQL__HOST
              valueFrom:
                secretKeyRef:
                  name: authentik-secrets
                  key: AUTHENTIK_POSTGRESQL__HOST
            - name: AUTHENTIK_POSTGRESQL__NAME
              valueFrom:
                secretKeyRef:
                  name: authentik-secrets
                  key: AUTHENTIK_POSTGRESQL__NAME
            - name: AUTHENTIK_POSTGRESQL__USER
              valueFrom:
                secretKeyRef:
                  name: authentik-secrets
                  key: AUTHENTIK_POSTGRESQL__USER
            - name: AUTHENTIK_POSTGRESQL__PASSWORD
              valueFrom:
                secretKeyRef:
                  name: authentik-secrets
                  key: AUTHENTIK_POSTGRESQL__PASSWORD
            - name: AUTHENTIK_REDIS__HOST
              valueFrom:
                secretKeyRef:
                  name: authentik-secrets
                  key: AUTHENTIK_REDIS__HOST
          volumeMounts:
            - name: media
              mountPath: /media
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
      volumes:
        - name: media
          persistentVolumeClaim:
            claimName: authentik-media
