apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-data
  namespace: staging-infra
  labels:
    app: redis
    component: cache
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
